/* * {
    box-sizing:border-box;
}
#containerForTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: short stack;
    font-size: 40px;
    position:absolute;
}
h1 {
    font-family: 'Short Stack', cursive, Arial, Helvetica, sans-serif;
    position:absolute;
}
p {
    font-family: 'Short Stack', cursive, Arial, Helvetica, sans-serif;
    margin: auto;

} */

body, html {
    height: 100%;
    font-family: short stack, sans-serif;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("b61c6bb4b3137668893e0f67b6e1ee10-700.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}
